.heart-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../background.jpg);
  background-size: cover;
  border-radius: 200%;
  width: 500px;
  height: 500px;
}
p {
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}
@media screen and (max-width: 600px) {
  /* Applying styles when screen width is less than 600px */
  /* Set width and height to 100vw */
  .heart-link {
    width: 100vw;
    height: 100vw;
  }
}